<div class="form-group">
  <%= f.label :"业务名称" %>
  <%= f.select :ticket_id, @event.tickets.map{ |t| [t.name, t.id] }, {}, :class => "form-control" %>
</div>


<div class="form-group">
  <%= f.submit "保存并下一步", :class => "btn btn-primary" %>
</div>
