<h1>修改班组名称</h1>

<%= form_for [:admin, @event, @section] do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_event_sections_path(@event) %>
  </div>

<% end %>
